<!doctype html>
<html>
<head>
<title>Where'd they get it?</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no" />
<style>
html, body {
height: 100%;
padding: 0;
margin: 0;
	background-color: #7B1FA2;
height: 100%;
position: relative;
overflow: hidden;            
}

.axis text {
font: 10px sans-serif;
}

.axis line,
	.axis path {
fill: none;
stroke: #000;
	shape-rendering: crispEdges;
	}


path {
fill: #009688;   
      //	    fill: #FF5252;
      //	    fill: #3F51B5;
}

path:hover {
fill:#FF5252;
     }

.leaflet-control-zoom {
top: 20px;
}

#map {
position: absolute;
height: 100%;
width: 100%;
       //            background-color: #7b1fa2;
cursor: default;
}

#map.gotIt {
	background-color: #303f9f;
}

#slider {
width: 90%;
       margin-left: 5%;
       margin-right: 5%;
       margin-bottom: 20px;
fill: #FF5252;
}        

#slider.gotIt {
fill: #009688;
}       

/*        #timeline {
position: absolute;
//            height: 100%;
width: 100%;
background-color: #7b1fa2;
}*/
</style>
<script>
if (window.location.search.indexOf('?got_it=true') === 0)
document.write('<style>html, body {background-color:#303F9F;}</style>');
</script>
</head>
<body>
<div id="map"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>

<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<script src="/static/L.CanvasOverlay.js"></script>
<!--script src="http://www.sumbera.com/gist/js/leaflet/canvas/L.CanvasOverlay.js"></script-->
<script src="http://www.sumbera.com/gist/86T.json" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/static/d3.slider.css" media="screen" />
<script src="/static/d3.slider.js"></script>

<div id="slider"></div>
<script>

var slider = d3.slider().axis(d3.svg.axis().ticks(6)).min(0).max(0);
//d3.select('#slider').call(slider);

//alert(slider.value().getTime());

var Environment = {
	//mobile or desktop compatible event name, to be used with '.on' function
TOUCH_DOWN_EVENT_NAME: 'mousedown touchstart',
		       TOUCH_UP_EVENT_NAME: 'mouseup touchend',
		       TOUCH_MOVE_EVENT_NAME: 'mousemove touchmove',
		       TOUCH_DOUBLE_TAB_EVENT_NAME: 'dblclick dbltap',

		       isAndroid: function() {
			       return navigator.userAgent.match(/Android/i);
		       },
isBlackBerry: function() {
		      return navigator.userAgent.match(/BlackBerry/i);
	      },
isIOS: function() {
	       return navigator.userAgent.match(/iPhone|iPad|iPod/i);
       },
isOpera: function() {
		 return navigator.userAgent.match(/Opera Mini/i);
	 },
isWindows: function() {
		   return navigator.userAgent.match(/IEMobile/i);
	   },
isMobile: function() {
		  return (Environment.isAndroid() || Environment.isBlackBerry() || Environment.isIOS() || Environment.isOpera() || Environment.isWindows());
	  }
};
function getParameterByName(name) {
	name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	    results = regex.exec(location.search);
	return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

var lat = getParameterByName('lat');
lat = (lat == "") ? "42.3601" : lat;
var lon = getParameterByName('lon');
lon = (lon == "") ? "-71.0589" : lon;        

var got_it = getParameterByName('got_it');
got_it = (got_it == "true");

if (got_it) {
	d3.select("#map").classed("gotIt", true);
	d3.select("#slider").classed("gotIt", true);
	//document.getElementById("map").style.backgroundColor = "#303f9f";
}

function setPosition(position) {
	lat = position.coords.latitude;	
	lon = position.coords.longitude;
	leafletMap.setView([lat, lon], 14);
}

if (navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(setPosition);
}

var cscale = d3.scale.linear().domain([1, 3]).range(["#ff0000", "#ff6a00", "#ffd800", "#b6ff00", "#00ffff", "#0094ff"]);//"#00FF00","#FFA500"
var leafletMap = L.map('map', 
		{
maxBounds: [
[-89.0, -180.0],
[89.0, 180.0]
],
minZoom: 2

}).setView([lat, lon], 14);

leafletMap.setZoom(14);
//            L.tileLayer("http://{s}.sm.mapstack.stamen.com/(toner-lite,$fff[difference],$fff[@23],$fff[hsl-saturation@20])/{z}/{x}/{y}.png").addTo(leafletMap);
if (got_it) {
	L.tileLayer("http://{s}.sm.mapstack.stamen.com/($303f9f[@p],(toner-lite,$fff[difference])[exclusion],(toner-hybrid,$009688[source-in])[hsl-color])/{z}/{x}/{y}.png").addTo(leafletMap);
} else {
	L.tileLayer("http://{s}.sm.mapstack.stamen.com/($7b1fa2[@p],(toner-lite,$fff[difference])[exclusion],(toner-hybrid,$ff5252[source-in])[hsl-color])/{z}/{x}/{y}.png").addTo(leafletMap);

	//            L.tileLayer("http://{s}.sm.mapstack.stamen.com/($7b1fa2[@p],toner-lite[soft-light],$ff5252[difference@p],$ff0000[hsl-saturation@p])/{z}/{x}/{y}.png").addTo(leafletMap);
}

var allLoaded = false;
var data = [];

leafletMap.on('moveend', function(e) {
	if (!allLoaded){
      $.ajax({
               type: "GET",
               url: "{% url 'api:get_map_locations' %}",
               dataType: "json",
               success: function(response) {	
			var newData = [];
//			dataResp = $.parseJSON(response);	
			response.map(function (d, i) {
				newData.push({
					id:i,
					type: "Feature",
					geometry: {
						coordinates: [d[1], d[0]],
						type:"Point"
					},
					time: Date.parse(d[2]),
					selfid:d[3],
					parentid:d[4]
				});
			});
			rebuildQuadTree(newData);
			allLoaded = true;
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          });
	}
});

//d3.csv('/static/testDataCZ.csv', function (error, incidents) {

//		function reformat(array) {
//		var data = [];
//		array.map(function (d, i) {
//				data.push({
//id: i,
//type: "Feature",
//geometry: {
//coordinates: [+d.longitude, +d.latitude],
//type: "Point"
//},
//time: d.time,
//selfid: d.selfid,
//parentid: d.parent               
//});
//				});
//		return data;
//		}
//		var geoData = { type: "FeatureCollection", features: reformat(incidents) };
var data = []
		var geoData = { type: "FeatureCollection", features: [] };
		//         console.log(geoData);   
//var numPoints = incidents.length;
var numPoints =  data.length;

var parents = [];

var qtree = d3.geom.quadtree(geoData.features.map(function (data, i) {
			return {
x: data.geometry.coordinates[0],
y: data.geometry.coordinates[1],
all: data
};
}));

function rebuildQuadTree(newGeoData) {
	geoData = newGeoData;
	qtree = d3.geom.quadtree(newGeoData.map(function (data, i) {
                        return {
		x: data.geometry.coordinates[0],
		y: data.geometry.coordinates[1],
		all: data
		};
	}));
	var lowestTime = new Date(getLowestTime(qtree));
	console.log(lowestTime);

//	var slider = d3.slider().axis(d3.svg.axis().ticks(6)).min(0).max(0);
	d3.select('#slider').call(slider, lowestTime);

	var maxTime = slider.value().getTime();
	slider.value(maxTime);

}


//console.log(qtree);

function getLowestTime(node) {
	if (node.leaf) {
		node.lowestTime = parseInt(node.point.all.time);
		return node.lowestTime;
	} else if (node.nodes != null && node.nodes.length > 0) {
		var lowestTime = new Date().getTime();
		for (subNode in node.nodes) {
			var newTime = getLowestTime(node.nodes[subNode]);
			if (newTime < lowestTime) {
				lowestTime = newTime;
			}
		}
		node.lowestTime = lowestTime;
		return lowestTime;
	} else {
		//	alert(node.depth);
		var lowestTime = new Date().getTime();
		node.lowestTime = lowestTime;
		return lowestTime;
	}
}
//var lowestTime = getLowestTime(qtree);
//console.log(lowestTime);
//var maxTime = slider.value().getTime();
//slider.value(maxTime);
//console.log(slider);
if (Environment.isMobile()) {
	slider.on("slideend", function() { canvasOverlay._redraw();});
} else {
	slider.on("slide", function() { canvasOverlay._redraw();});
}


function nearest(root, x, y, x0, y0, x3, y3) {
	var minDistance2 = Infinity,
	    closestPoint;

	(function find(node, x1, y1, x2, y2) {

	 // stop searching if this cell can’t contain a closer node
	 if (node.lowestTime > slider.value() || x1 > x3 || y1 > y3 || x2 < x0 || y2 < y0) return;

	 // visit this point
	 if (point = node.point) {
	 var point,
	 dx = x - node.x,
	 dy = y - node.y,
	 distance2 = dx * dx + dy * dy;
	 if (distance2 < minDistance2) {
	 var distance = Math.sqrt(minDistance2 = distance2);
	 x0 = x - distance, y0 = y - distance;
	 x3 = x + distance, y3 = y + distance;
	 closestPoint = point;
	 }
	 }

	 // bisect the current node
	 var children = node.nodes,
	     xm = (x1 + x2) * 0.5,
	     ym = (y1 + y2) * 0.5,
	     right = x >= xm,
	     below = y >= ym;

	 // visit closest cell first
	 for (var i = below << 1 | right, j = i + 4; i < j; ++i) {
		 if (node = children[i & 3]) switch (i & 3) {
			 case 0: find(node, x1, y1, xm, ym); break;
			 case 1: find(node, xm, y1, x2, ym); break;
			 case 2: find(node, x1, ym, xm, y2); break;
			 case 3: find(node, xm, ym, x2, y2); break;
		 }
	 }
	})(root, x0, y0, x3, y3);

	return closestPoint;
}

// Find the nodes within the specified rectangle.
function search(quadtree, x0, y0, x3, y3) {
	var pts = [];
	var subPixel = false;
	var subPts = [];
	var scale = getZoomScale();
	//                console.log(" scale: " + scale);
	var counter = 0;
	quadtree.visit(function (node, x1, y1, x2, y2) {
			var p = node.point;
			var pwidth = node.width * scale;
			var pheight = node.height * scale;
			if (node.lowestTime > slider.value()) {
			return true;
			}		

			// -- if this is too small rectangle only count the branch and set opacity
			if ((pwidth * pheight) <= 1) {
			// start collecting sub Pixel points
			subPixel = true;
			}
			// -- jumped to super node large than 1 pixel
			else {
			// end collecting sub Pixel points
			if (subPixel && subPts && subPts.length > 0) {

			subPts[0].group = subPts.length;
			//                            alert(subPts.length);
			pts.push(subPts[0]); // add only one todo calculate intensity
			counter += subPts.length - 1;
			subPts = [];
			}
			subPixel = false;
			}

			if ((p) && (p.x >= x0) && (p.x < x3) && (p.y >= y0) && (p.y < y3)) {

				if (subPixel) {
					subPts.push(p.all);
				}
				else {
					if (p.all.group) {
						delete (p.all.group);
					}
					pts.push(p.all);
				}

			}
			// if quad rect is outside of the search rect do nto search in sub nodes (returns true)
			return x1 >= x3 || y1 >= y3 || x2 < x0 || y2 < y0;
	});
	//                console.log(" Number of removed  points: " + counter);
	var newPts = [];
	/*                if (Environment.isMobile() && pts.length > 5000) {
			  for (var i = 0; i < 5000; i++){
			  selectedPts = newPts.length + 1;
			  index = Math.floor(Math.random()*(pts.length - selectedPts));
			  pt = pts[index];
			  newPts.push(pt);
			  pts[index] = pts[pts.length - selectedPts];
			  pts[pts.length - selectedPts] = pt;
			  }
			  pts = newPts;
			  }*/
	return pts;

}


function updateNodes(quadtree) {
	var nodes = [];
	quadtree.depth = 0; // root

	quadtree.visit(function (node, x1, y1, x2, y2) {
			var nodeRect = {
left: MercatorXofLongitude(x1),
right: MercatorXofLongitude(x2),
bottom: MercatorYofLatitude(y1),
top: MercatorYofLatitude(y2),
}
node.width = (nodeRect.right - nodeRect.left);
node.height = (nodeRect.top - nodeRect.bottom);

if (node.depth == 0) {
//                        console.log(" width: " + node.width + "height: " + node.height);
}
nodes.push(node);
for (var i = 0; i < 4; i++) {
if (node.nodes[i]) node.nodes[i].depth = node.depth + 1;
}
});
return nodes;
}

//-------------------------------------------------------------------------------------
MercatorXofLongitude = function (lon) {
	return lon * 20037508.34 / 180;
}

MercatorYofLatitude = function (lat) {
	return (Math.log(Math.tan((90 + lat) * Math.PI / 360)) / (Math.PI / 180)) * 20037508.34 / 180;
}

updateNodes(qtree);

	var canvasOverlay = L.canvasOverlay()
.drawing(drawingOnCanvas)
	.addTo(leafletMap);

	//        var canvasOverlay2 = L.canvasOverlay()
	//            .addTo(leafletMap);

	//alert(leafletMap.canvasOverlay());

	function redrawInBounds(x0, y0, x1, y1) {
		var mapZoom = leafletMap.getZoom();
		subset = search(qtree, x0, y0, x1, y1);
		//console.log(canvasOverlay._map.layerPointToLatLng([prevDot.x, prevDot.y]));
		//console.log(x0, y0, x1, y1);
		//console.log(subset.length);
		var ctx = canvasOverlay.canvas().getContext('2d');
		for (var i = 0; i < subset.length; i++) {
			var d = subset[i];
			//		console.log(d);
			newDot = canvasOverlay._map.latLngToContainerPoint([d.geometry.coordinates[1], d.geometry.coordinates[0]]);
			ctx.fillStyle = "#009688";
			ctx.beginPath();
			//                console.log("NEW DOT", newDot);
			ctx.arc(newDot.x, newDot.y,  Math.min(5*mapZoom/20, 5), 0, Math.PI * 2);
			ctx.fill();
			ctx.closePath();
		}
	}

function h2r (hex) {
	var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
	return result ? [
		parseInt(result[1], 16),
		parseInt(result[2], 16),
		parseInt(result[3], 16)
	] : null;
};

// Inverse of the above
function r2h (rgb) {
	return "#" + ((1 << 24) + (rgb[0] << 16) + (rgb[1] << 8) + rgb[2]).toString(16).slice(1);
};

function interpolateColor (color1, color2, factor) {
	if (arguments.length < 3) { factor = 0.5; }
	var result = color1.slice();
	for (var i=0;i<3;i++) {
		result[i] = Math.round(result[i] + factor*(color2[i]-color1[i]));
	}
	return result;
};

function drawParents(ctx) {
	//console.log(parents);
	if (parents.length > 0) {
		if (got_it) {
			ctx.fillStyle = "#009688";
			ctx.strokeStyle = "#009688";
		} else {
			ctx.fillStyle = "#FF5252";
			ctx.strokeStyle = "#FF5252";
		}
		ctx.lineWidth = 3;
		ctx.beginPath();
		var firstCoord = parents[0];
		var firstDot = canvasOverlay._map.latLngToContainerPoint([firstCoord.geometry.coordinates[1], firstCoord.geometry.coordinates[0]]);
		if (firstCoord.time <= slider.value()) {
			ctx.moveTo(firstDot.x, firstDot.y);
			ctx.arc(firstDot.x, firstDot.y, 5, 0, Math.PI * 2);
			ctx.fill();
			ctx.closePath();
		}
		for (var i=1; i < parents.length; i ++) {
			//			var intColor = r2h(interpolateColor(h2r("#E91E63"), h2r("#000000"), (i+1)/parents.length));
			var coord = parents[i];
			var dot = canvasOverlay._map.latLngToContainerPoint([coord.geometry.coordinates[1], coord.geometry.coordinates[0]]);
			//			ctx.fillStyle = intColor;
			//			ctx.strokeStyle = intColor;
			if (coord.time <= slider.value()) {
				ctx.lineTo(dot.x, dot.y);
				ctx.stroke();
				ctx.closePath();
				ctx.beginPath();
				ctx.arc(dot.x, dot.y, 5, 0, Math.PI * 2);
				ctx.fill();
			}
			//	                  ctx.closePath();

		}
		ctx.closePath();
		return true;
	}
	ctx.closePath();
	return false;
}

function findParents(pt, ctx) {

	//            ctx.clearRect(0, 0, canvasOverlay.topCanvas().width, canvasOverlay.topCanvas().height);
	//	canvasOverlay._redraw();
	//	console.log(pt.parentid);
	parents.push(pt);
	if (!pt.parentid) {
		return drawParents(ctx);
	}
	for (var i=0; i < geoData.length; i++) {
		d = geoData[i];
		if (d.selfid == pt.parentid) {
			return findParents(d, ctx);
		}
	}

	return false;
}


var prevDot = {x:-1, y:-1};


leafletMap.on('click', function(e) {
		var lon = e.latlng.lng;
		var lat = e.latlng.lat;
		//                var pt = qtree.find([lon, lat]);
		var pt = nearest(qtree, lon, lat, qtree, -Infinity, -Infinity, Infinity, Infinity);


		var ctx = canvasOverlay.canvas().getContext('2d');

		selDot = canvasOverlay._map.latLngToContainerPoint([pt.all.geometry.coordinates[1], pt.all.geometry.coordinates[0]]);
		if (selDot != prevDot) {
		parents = [];
		canvasOverlay._redraw();
		}
		//console.log(selDot);
		//console.log(e.containerPoint);
		if (Math.abs(e.containerPoint.x - selDot.x) + Math.abs(e.containerPoint.y - selDot.y) < 14 ){
		parents = [];
		console.log(pt.all);
		var parentsDone = findParents(pt.all, ctx);
		}
		});


leafletMap.on('mousemove', function(e) {
		var lon = e.latlng.lng;
		var lat = e.latlng.lat;
		//                var pt = qtree.find([lon, lat]);
		var pt = nearest(qtree, lon, lat, qtree, -Infinity, -Infinity, Infinity, Infinity);
		//         alert(qtree.find([lon, lat]));
		//console.log(prevDot);
		var ctx = canvasOverlay.topCanvas().getContext('2d');

		//            ctx.fillStyle = "rgba(255,116,0, 1)";
		//	    parDot = canvasOverlay._map.latLngToContainerPoint([parCoords[1], parCoords[0]]);
		//console.log(parDot);
		selDot = canvasOverlay._map.latLngToContainerPoint([pt.all.geometry.coordinates[1], pt.all.geometry.coordinates[0]]);

		if (Math.abs(e.containerPoint.x - selDot.x) + Math.abs(e.containerPoint.y - selDot.y) < 14 ){
		document.getElementById("map").style.cursor = 'pointer';
		} else {
		document.getElementById("map").style.cursor = 'default';
		}
		//	if (selDot != prevDot) {
		//		canvasOverlay._redraw();
		//	}
		//         var parentsDone = drawParents(selDot, pt.all.parentid, ctx);

		ctx.clearRect(0, 0, canvasOverlay.topCanvas().width, canvasOverlay.topCanvas().height);
		//	    refillTopRight = canvasOverlay._map.containerPointToLatLng([prevDot.x-6, prevDot.y-6]);
		//            refillBottomLeft = canvasOverlay._map.containerPointToLatLng([prevDot.x+6, prevDot.y+6]);
		//	    redrawInBounds(refillTopRight.lng, refillBottomLeft.lat, refillBottomLeft.lng, refillTopRight.lat); 
		//	   console.log("DOT", selDot); 
		prevDot = {x:selDot.x, y:selDot.y};
		if (got_it) {
			ctx.fillStyle = "#009688";
		} else {
			ctx.fillStyle = "#FF5252";
		}
		ctx.beginPath();
		ctx.arc(selDot.x, selDot.y, 5, 0, Math.PI * 2);
		//            ctx.arc(parDot.x, parDot.y, 5, 0, Math.PI * 2);

		ctx.fill();
		ctx.closePath();

});


function getZoomScale() {
	var mapWidth = leafletMap.getSize().x;
	var bounds = leafletMap.getBounds();
	var planarWidth = MercatorXofLongitude(bounds.getEast()) - MercatorXofLongitude(bounds.getWest());
	var zoomScale = mapWidth / planarWidth;
	return zoomScale;

}


var start = new Date();

var subset;



function drawingOnCanvas(canvasOverlay, params) {
	//console.log(params);
	var mapZoom = leafletMap.getZoom();
	var mapBounds = leafletMap.getBounds();
	subset = search(qtree, mapBounds.getWest(), mapBounds.getSouth(), mapBounds.getEast(), mapBounds.getNorth());
	console.log(subset.length);
	//console.log("MAP", mapBounds.getWest(), mapBounds.getSouth(), mapBounds.getEast(), mapBounds.getNorth());
	var ctx = params.canvas.getContext('2d');
	ctx.clearRect(0, 0, params.canvas.width, params.canvas.height);
	//            ctx.fillStyle = "rgba(255,116,0, 0.2)";
	if (got_it) {
		ctx.fillStyle = "#9C27B0";
	} else {
		ctx.fillStyle = "#009688";
	}

	var pointSize = Math.min(5, Math.max(leafletMap.getZoom() - 6.0, 8/Math.log(subset.length), 0.6));
	var vertices = [];
	for (var i = 0; i < subset.length; i++) {
		var d = subset[i];
		//		console.log(d);
		//                if (params.bounds.contains([d[0], d[1]])) {
		dot = canvasOverlay._map.latLngToContainerPoint([d.geometry.coordinates[1], d.geometry.coordinates[0]]);
		//dot =projectPoint(d.geometry.coordinates[0], d.geometry.coordinates[1]);
		//		console.log(dot);
		ctx.beginPath();
		ctx.arc(dot.x, dot.y, pointSize, 0, Math.PI * 2);
		ctx.fill();
		ctx.closePath();
		//                }
		vertices.push([dot.x, dot.y]);
	}
	drawParents(ctx);
};


//});

</script>
</body>
</html>
